/* team */

body {
  background: linear-gradient(
    125deg,
    #2c3e50,
    #27ae60,
    #2980b9,
    #e74c3c,
    #8e44ad
  );
  background-size: 400%;
  animation: bganimation 15s infinite;
}
@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
  padding: 10px;
  text-align: center;
}
.team h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 20px 0;
  padding: 0;
}
.team h1 span {
  color: #ff9100;
}
.team h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
  padding: 0;
}
.team h2 span {
  color: #07d474;
}
.box {
  overflow: hidden;
  background: #0ebeff;
  position: relative;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.box:after,
.box:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffc107;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  opacity: 0.9;
  z-index: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.box img {
  height: auto;
  width: 100%;
}
.box:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}
.box:hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}
.box:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}
.box:hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}
.box img {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.box:hover img {
  opacity: 0.5;
}
.box .box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.box:hover .box-content {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.box .post,
.box .title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #3c3c3c;
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 20px;
  margin: 0;
}
.box .post {
  text-transform: capitalize;
}
.box .post {
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
  margin-top: 15px;
}
