.body{
    font:600 16px/18px 'Open Sans',sans-serif;

}
 .main-bg{
    height: 100%;
    max-width:540px;
    margin-top: 40px !important;
    margin: 40px auto;
   background: #fff;
    padding: 40px;
    box-shadow: 7px 7px 12px rgba(0,0,0,.5);
    clear:both;
 }
input {
    margin-bottom: 1em;
    padding: 13px 15px;
    border: 1px solid #eee;
    background: #CDCDCD !important;
    opacity: 0.8;
   display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.legend {
    color: #000;
    font-size: 40px;
     padding-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 5px !important;
}
.custom-select{
   background:#CDCDCD !important;
   opacity: 0.8 !important;
   border-radius:20px !important;
    height: 40px !important;
    margin-bottom: 1em !important;
    font-size: 16px !important; 
    letter-spacing: 1px !important;
}
option{
    background: white !important;
    opacity: 0.4 !important;
}


.input input {
    font-size: 16px;
    border-radius: 20px;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    height: 40px;
}
.submit {
    margin: 2.3em auto 0;
    background: #1d82b1;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
     -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    display: block;
    color: #fff;
    padding: 14px 30px;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 2px;
    width: 100%;
}

.submit:hover {
    opacity: .8;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
@media screen and (max-width:990px){
    .main-bg{
        width: 500px;
        margin:40px auto;
        
    }
    
}
@media screen and (max-width:770px){
    .main-bg{
            width:400px;
            margin:40px auto;
            
    }
        
}
@media screen and (max-width:400px){
    .main-bg{
            width:280px;
            margin:40px auto;
            height:680px;
    }
        
}
@media screen and (max-width:320px){
    .main-bg{
            width:240px;
            margin:40px auto;
            height: 690px;
                    
    }
            
}

